# Project 2 - Working With Lists



## Working with Lists


|New Concepts | Description|
| --- | --- |
| Dynamic List | A dynamic list is encapsulated by brackets _([])_. A list is mutable. Elements can be added to or deleted from a list on the fly.|
| List Concatenation | Two lists can be joined together in the same manner that strings are concatenated. |
| List Indexing | Lists are indexed with the first element being indexed as zero and the last element as the length of (number of elements in) the list less one. Indexes are called using brackets â€“ i.e., _lst[0]_ calls the 0th element in the list. |


In later chapters, we will combine lists with dictionaries to essential data structures. We will also work with more efficient and convenient data structures using the numpy and pandas libraries.

Below we make our first lists. One will be empty. Another will contain integers. Another will have floats. Another strings. Another will mix these:

In [13]:
empty_list = []
empty_list, type(empty_list)

([], list)

In [12]:
int_list = [1,2,3,4]
int_list, type(int_list)

([1, 2, 3, 4], list)

In [11]:
float_list = [1.,2.,3.,4.]
float_list, type(float_list)

([1.0, 2.0, 3.0, 4.0], list)

In [10]:
string_list = ["Many words", "impoverish meaning"]
string_list, type(string_list)

(['Many words', 'impoverish meaning'], list)

In [9]:
mixed_list = [1, 2., "Mix it up"]
mixed_list, type(mixed_list)

([1, 2.0, 'Mix it up'], list)

## Concatentation: Lists

In [14]:
list1 = [1]
list2 = [2]
join_lists = list1 + list2
join_lists

[1, 2]

In [15]:
#similar to concatenating strings
str1 = "1"
str2 = "2"
join_strs = str1 + str2
join_strs

'12'

a for loop using in range will cycle through variable i from integer j to k-1 by increments of l for i in rangle (j, k, l)

    execute script

In [17]:
for i in range(1, 1000):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999

In [19]:
total = 0
for i in range(1, 101):
    total = total + i
    print(i, total)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55
11 66
12 78
13 91
14 105
15 120
16 136
17 153
18 171
19 190
20 210
21 231
22 253
23 276
24 300
25 325
26 351
27 378
28 406
29 435
30 465
31 496
32 528
33 561
34 595
35 630
36 666
37 703
38 741
39 780
40 820
41 861
42 903
43 946
44 990
45 1035
46 1081
47 1128
48 1176
49 1225
50 1275
51 1326
52 1378
53 1431
54 1485
55 1540
56 1596
57 1653
58 1711
59 1770
60 1830
61 1891
62 1953
63 2016
64 2080
65 2145
66 2211
67 2278
68 2346
69 2415
70 2485
71 2556
72 2628
73 2701
74 2775
75 2850
76 2926
77 3003
78 3081
79 3160
80 3240
81 3321
82 3403
83 3486
84 3570
85 3655
86 3741
87 3828
88 3916
89 4005
90 4095
91 4186
92 4278
93 4371
94 4465
95 4560
96 4656
97 4753
98 4851
99 4950
100 5050

In [28]:
total = 0
for i in range(1, 101, 2):
    total = total + i 
    print(i, total)

1 1
3 4
5 9
7 16
9 25
11 36
13 49
15 64
17 81
19 100
21 121
23 144
25 169
27 196
29 225
31 256
33 289
35 324
37 361
39 400
41 441
43 484
45 529
47 576
49 625
51 676
53 729
55 784
57 841
59 900
61 961
63 1024
65 1089
67 1156
69 1225
71 1296
73 1369
75 1444
77 1521
79 1600
81 1681
83 1764
85 1849
87 1936
89 2025
91 2116
93 2209
95 2304
97 2401
99 2500

In [25]:
list1 = [22, 56, 987, 456]
str1 = "1s25g6r84"

for val in list1:
    print(val)
    
for string in str1:
    print(string, string == "s")

22
56
987
456
1 False
s True
2 False
5 False
g False
6 False
r False
8 False
4 False

## More on range()

In [1]:
#create a list by appending values to the list
list1 = []
for i in range(0, 9, 2):
    print(i)
    list1.append(i)
    
print(list1)

0
2
4
6
8
[0, 2, 4, 6, 8]

In [7]:
#create a list by passing range(i,j,l)
#more efficient alternative to using append within a for loop
list2 = list(range(0, 9, 4))
list2

[0, 4, 8]

### Using len() with range

In [11]:
list2_len = len(list2)
print("i", "val")
for i in range(list2_len):
    print(i, list2[i])

i val
0 0
1 4
2 8

### Nested for loop

In [26]:
print("i", "val")

#create a new list2 according to the interval value called by the for loop
for interval in range(1,6):
    list2 = list(range(0,9, interval))
    print(interval, list2)
    list2_len = len(list2)
    print("length", list2_len)
    print("j", "val")
    
    for j in range(list2_len):
        print(j, list2[j])

i val
1 [0, 1, 2, 3, 4, 5, 6, 7, 8]
length 9
j val
0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
2 [0, 2, 4, 6, 8]
length 5
j val
0 0
1 2
2 4
3 6
4 8
3 [0, 3, 6]
length 3
j val
0 0
1 3
2 6
4 [0, 4, 8]
length 3
j val
0 0
1 4
2 8
5 [0, 5]
length 2
j val
0 0
1 5

## If statements and boolean variables

In [29]:
# Boolean
True

True

In [30]:
False

False

In [31]:
True * True

1

In [32]:
False * False

0

In [33]:
True * False

0

In [41]:
boolean = True

# conditional statement // if statement
if boolean: # if boolean == True
    print(boolean)
    
boolean2 = True
if boolean2 == False: # if boolean == True
    print(boolean2)
    print("if boolean2 is false, then you just printed this text. if not, \
then nothing happened")

True

In [1]:
1 == True

True

In [2]:
1 == False

False

In [4]:
# != is "not equal to"
1 != False

True

## Use a boolean variable and a conditional statement (if statement) to track the appearence of the word "ate":

In [16]:
words = ["The", "dog", "ate", "the", "snow", "and", "ate", "his", "dog", "food"]
# does the word "ate" appear in the list? if so, where?
ate_index_list=[]

num_words = len(words)
for i in range(num_words):
    # save the string at index i as "word"
    word = words[i]
    # "is_ate" is a boolean variable that tells us whether or not the current 
    # word is "ate"
    is_ate = word == "ate"
    print(i, "Is the word", word,"\"ate\":", is_ate)
    
    # if the word is "ate", then add the index to the list so that we can have
    # an easy way to reference record of the indices where at appears
    if is_ate:
        ate_index_list.append(i)
ate_index_list

0 Is the word The "ate": False
1 Is the word dog "ate": False
2 Is the word ate "ate": True
3 Is the word the "ate": False
4 Is the word snow "ate": False
5 Is the word and "ate": False
6 Is the word ate "ate": True
7 Is the word his "ate": False
8 Is the word dog "ate": False
9 Is the word food "ate": False

[2, 6]

## if, else, and elif

In [24]:
random_numbers = [1,2,6,5,78,9,4,96,8,5,79]

# is the number greater than 10
not_greater_than_10 = []
greater_than_10 = []
for number in random_numbers:
    if number > 10:
        print(number, "is greater than 10")
        greater_than_10.append(number)
    else:
        print(number, "is not greater than 10")
        not_greater_than_10.append(number)

1 is not greater than 10
2 is not greater than 10
6 is not greater than 10
5 is not greater than 10
78 is greater than 10
9 is not greater than 10
4 is not greater than 10
96 is greater than 10
8 is not greater than 10
5 is not greater than 10
79 is greater than 10

In [23]:
not_greater_than_10

[1, 2, 6, 5, 9, 4, 8, 5]

In [25]:
greater_than_10

[78, 96, 79]

In [50]:
random_numbers = [1,2,6,5,78,9,4,96,8,5,79,-2,-5,-7,-8, "8.5"]

# is the number greater than 10
greater_than_10 = []
zero_to_10 = []
negative_numbers = []
for number in random_numbers:
    # what if you want to catch strings that might be in your list?
    if type(number) == str: number = float(number)
    if number > 10:
        print(number, "is greater than 10")
        greater_than_10.append(number)
    # if a number is 10 or less, the program will read the elif statement and
    # test that the number is zero or greater, this catches all the numers in
    # the domain [0, 10]
    elif number >= 0:
        print(number, "is in the domain of 0 and 10")
        zero_to_10.append(number)
    # the else statement catches any numbers taht are negative since the
    # previous conditional statements checked if the number was zero or greater
    else:
        print(number, "is negative")
        negative_numbers.append(number)

1 is in the domain of 0 and 10
2 is in the domain of 0 and 10
6 is in the domain of 0 and 10
5 is in the domain of 0 and 10
78 is greater than 10
9 is in the domain of 0 and 10
4 is in the domain of 0 and 10
96 is greater than 10
8 is in the domain of 0 and 10
5 is in the domain of 0 and 10
79 is greater than 10
-2 is negative
-5 is negative
-7 is negative
-8 is negative
8.5 is in the domain of 0 and 10

In [51]:
greater_than_10, zero_to_10, negative_numbers

([78, 96, 79], [1, 2, 6, 5, 9, 4, 8, 5, 8.5], [-2, -5, -7, -8])

## Use del lst[i]

In [52]:
# use del lst[i] to delete the ith element from list
del greater_than_10[1]
del zero_to_10[1]
del negative_numbers[1]
greater_than_10, zero_to_10, negative_numbers

([78, 79], [1, 6, 5, 9, 4, 8, 5, 8.5], [-2, -7, -8])

In [38]:
# passing -1 as a list index calls the last element in the list
# passing -1 when using del lst[i] will delete the last element in the list
del greater_than_10[-1]
del zero_to_10[-1]
del negative_numbers[-1]
greater_than_10, zero_to_10, negative_numbers

([78], [1, 6, 5, 9, 4, 8, 5], [-2, -7])

## use lst.remove(val)

In [53]:
# use lst.remove(val)
greater_than_10.remove(78)
# if you remove a value that appears twice in a list, then the first appeearance
# of that value will be removed
zero_to_10.remove(5)
negative_numbers.remove(-2)
greater_than_10, zero_to_10, negative_numbers

([79], [1, 6, 9, 4, 8, 5, 8.5], [-7, -8])

## use lst.pop()

In [54]:
last_val_in_list = greater_than_10.pop()
greater_than_10, last_val_in_list

([], 79)

## sorting lists

In [58]:
# sorted(lis) will sort a copy of the list
num_list = [1,2,96,8,9,8,5,4]
string_list = ["A","list","of","strings","is","in","string_list"]
num_list, sorted(num_list), num_list

([1, 2, 96, 8, 9, 8, 5, 4],
 [1, 2, 4, 5, 8, 8, 9, 96],
 [1, 2, 96, 8, 9, 8, 5, 4])

In [59]:
string_list = ["A","list","of","strings","is","in","string_list"]
string_list, sorted(string_list)

(['A', 'list', 'of', 'strings', 'is', 'in', 'string_list'],
 ['A', 'in', 'is', 'list', 'of', 'string_list', 'strings'])

In [61]:
# lst.sort() will sort the original list object
num_list.sort()
num_list

[1, 2, 4, 5, 8, 8, 9, 96]

In [62]:
# sorting mixed types will generate an error
# you cannot compare strings and numerical values
sorted(num_list + string_list

SyntaxError: unexpected EOF while parsing (3473042532.py, line 3)

## list slices

In [63]:
# a slice of a list takes a subset of values from a list
lst = [1,2,3,4,5,6,7,8,9]
#compare full list to sliced list
lst, lst[2:5]

([1, 2, 3, 4, 5, 6, 7, 8, 9], [3, 4, 5])

In [65]:
# count through the index by twos
# explicit start and end index values
lst, lst[0:-1:2]

([1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 3, 5, 7])

In [66]:
# implicit start and end index values
lst, lst[::2]

([1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 3, 5, 7, 9])

## lists and generator functions

In [70]:
# save a generator function without creating a list
generator = (i for i in range(20))
print(generator)

<generator object <genexpr> at 0x000001FC445C1C80>

In [71]:
list1 = list(generator)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [72]:
list2 = [2 * i for i in range(20)]
list2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]